@media only screen and (max-width: 2400px) {
  .card-list .card {
    width: 18rem;
    height: 420px !important;
    margin: 1vh 0.5vw 0;
    }
    
    .card-list .card-title {
      font-size: 1vw;
      padding-left: 16px;
      padding-right: 16px;
    }

    .card-list .card-button {
      padding-top: 0.3rem;
      margin-left: 0.3rem;
      margin-right: 0.5rem;
    }

    .card-text {
      font-size: 0.9rem;
      padding-left: 16px;
      padding-right: 16px;
      height: 1rem;
    }

    .dropdown-default-text {
      font-size: 1rem;
      overflow: hidden;
      white-space: nowrap;
    }

    .dropdown-text {
      font-size: 1rem;
    }

    .buttons-padding {
      padding-left: 16px;
    }
  }