/* TYPOGRAPHY */
.table-list .description p {
  font-size: 0.9rem;
}
.table-list .ip p {
  font-size: 0.9rem;
}
.table-list .state p {
  font-size: 0.9rem;
}
.table-list .viewers button {
  font-size: 0.9rem;
}
.table-list .action button p {
  font-size: 0.9rem;
}

/* TABLE */
.table-list table {
  border-collapse: separate;
  border-spacing: 0 1em;
}

.table-list thead tr {
  box-shadow: none !important;
}

.table-list thead th {
  border-top: 0 !important;
  border-bottom: 0 !important;
  border-right: 1px solid #dfe6e9;
}

.table-list thead th:last-child {
  border-right: 0;
}

.table-list tr {
  box-shadow: 0 2px 4px 0 #b2bec3;
  margin-bottom: 20px;
  border-radius: 11px;
}

.table-list tr td {
  border: 0;
  border-right: 1px solid #e6edf0;
  vertical-align: middle;
}

.table-list tr td.image > div{
  width: 60px;
  height: 60px;
  left: 0;
  top: 16px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  border-radius: 50%;
}

.table-list .ip,
.table-list .viewers {
  text-align: center;
}

/* VIEWERS */
.table-list .viewers-dropdown>button {
  display: flex;
  justify-content: space-between;
  border-radius: 7px;
  border: 1px solid #b2bec3;
  padding-left: 10px;
}

.table-list .viewers-dropdown>button::after {
  margin-top: 0.7em;
}

.table-list .viewers-dropdown ul.dropdown-menu {
  padding: 0;
}

.table-list .viewers-dropdown ul.dropdown-menu a {
  padding: 3px 10px;
}

.table-list .viewers-dropdown ul.dropdown-menu li:not(:first-child) {
  border-top: 1px solid lightgray;
}

/* STATE */
.table-list .state-on {
  background-color: #97c277;
}

.table-list .state-off {
  background-color: #dde4e4;
}

.table-list .state-error {
  background-color: #e7898e;
}

.table-list .state-loading {
  background-color: #eead47;
}

.table-list .state-dot {
  width: 18px;
  height: 18px;
  border-radius: 50%;
}

.table-list .state-dot.state-on {
  background-color: #97c277;
}

.table-list .state-dot.state-off {
  background-color: #dde4e4;
}

.table-list .state-dot.state-error {
  background-color: #e7898e;
}

.table-list .state-dot.state-loading {
  background-color: #eead47;
}

/* INFO ICON */
.table-list .info-icon {
  top: 5px;
  left: 5px;
  fill: #b2bec3;
}

/* SPINNER */
.spinner-loading {
  color: #eead47;
}

/* BUTTONS */
.table-list .action button svg {
  height: 20px;
}

.table-list .action button p {
  margin-top: -3px !important;
}

.table-list .dropdown-inactive button {
  background-color: darkgrey;
}